/* ==========================================================================
   Banner
   ========================================================================== */

.banner{
	h1{
		margin: 1.2em 0 .7em;
		color: #fff;
		text-shadow: 2px 1px 1px rgba(0,0,0,.7);
	}
}