/* ==========================================================================
   Global Footer
   ========================================================================== */

.footer{
	background-color: $grey-1;
	padding: 2em 0;
	a{
		color: #fff;
	}
}