/* ==========================================================================
   Type
   ========================================================================== */

//Headings 

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: $heading-font;
	color: $heading-color;
	font-weight: normal;
	text-transform: uppercase;
	a{
		@extend .transition;
		color: $heading-link-color;
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $heading-hover-color;
		}
	}
}

h1, .h1{
	font-size: 5em;
	@media (max-width: $max-break-mobile) {
		font-size: 3em;
	}
}

h2, .h2{
	font-size: 2.9em;
	text-transform: none;
	@media (max-width: $max-break-mobile) {
		font-size: 2.2em;
	}
}

h3, .h3{
	font-size: 1.6em;
}

h4, .h4{
	font-size: 1.4em;
}

h5, .h5{
	font-size: 1em;
	font-weight: bold;
}

h6, .h6{
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.1em;
	margin: 1.4em 0 0.4em;
}

