/* ==========================================================================
   Global Mixins
   ========================================================================== */

@mixin border-radius($radius: $border-radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

// Box shadow
@mixin box-shadow($shadow: $box-shadow) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

// Clearfix
@mixin clearfix() {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0; 
}

// Box sizing
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
     -moz-box-sizing: $box-sizing;
          box-sizing: $box-sizing;
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}


// Transitions
@mixin transition($transition: $transition1-default) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transition2($transition: $transition2-default) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transition3($transition: $transition3-default) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}